  <body>

    <header class="header">

      <div class="container" itemscope="" itemtype="http://schema.org/LocalBusiness">

        <h1 class="visuallyhidden">{{ site.title }}</h1>
        <a class="site-title" href="{{ site.url }}/">
          <img class="logo" itemprop="logo" src="_assets/images/jtn-splash-logo.jpg" alt="">
        </a>

        <div class="contact">
          <p><strong itemprop="description">residential+commercial interiors</strong></p>

          <p>IIDA member<br>
          <span itemprop="telephone">443.604.1815</span><br>
          <a href='&#109;ai&#108;&#116;o&#58;jenni%66e%72&#64;&#106;t&#110;&#100;&#101;%73i&#37;6&#55;n&#46;&#99;%6Fm' itemprop="email">j&#101;n&#110;ifer&#64;jtndesign&#46;c&#111;&#109;</a></p>
        </div>

      </div> <!-- END CONTAINER -->

    </header>