/* ===========================================================================
==== HEADER
============================================================================== */
.header {
  margin: 1em 0;

  @include brk-med {
    margin: 3em 0;
  }
}

@include brk-large {
  .site-title {
    flex-grow: 2;
  }
}

.contact {
  margin-left: 2em;

  @include brk-large {
    flex-grow: 5;
  }

  p {

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $link-clr;
    text-decoration: none;
    transition: color .5s ease;

    &:hover,
    &:focus {
      color: $highlight-clr;
    }
  }
}