// ===========================================================================
// == VARIABLES
// ============================================================================ */

// RESPONSIVE MEDIA QUERIES
// ---------------------------------------------------------------------------- */
$brk-small-width: 30em;
$brk-med-width: 45em;
$brk-large-width: 60em;
$brk-xlarge-width: 75em;

@mixin brk-small {
  @media screen and (min-width: $brk-small-width) {
    @content;
  }
}

@mixin brk-med {
  @media screen and (min-width: $brk-med-width) {
    @content;
  }
}

@mixin brk-large {
  @media screen and (min-width: $brk-large-width) {
    @content;
  }
}

@mixin brk-xlarge {
  @media screen and (min-width: $brk-xlarge-width) {
    @content;
  }
}

// FONTS
// ---------------------------------------------------------------------------- */
$font-stack: "Arimo", Helvetica, Arial, sans-serif;

// COLORS
// ---------------------------------------------------------------------------- */
$white: #fff;
$grey: #999;
$grey-light: #eee;
$grey-dark: #666;
$orange: #fc4314;
$text: #676767;

// COLOR CONFIGS
// ---------------------------------------------------------------------------- */
$bg-clr: $white;
$text-clr: $text;
$link-clr: $text;
$highlight-clr: $orange;